/* FONTS --------------------- */
/* figtree-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Figtree";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/figtree-v9-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Figtree";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/figtree-v9-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* VARIABLES --------------------- */
:root {
  /*  Colors */
  --c-yellow: hsl(47, 89%, 63%);
  --c-yellow-light: hsl(47, 89%, 83%);
  --c-White: hsl(0, 0%, 100%);
  --c-Gray-500: hsl(0, 0%, 42%);
  --c-Gray-950: hsl(0, 0%, 7%);

  /* Fonts Size */
  --fs-12: calc(12 / 16 * 1rem);
  --fs-14: calc(14 / 16 * 1rem);
  --fs-16: calc(16 / 16 * 1rem);
  --fs-20: calc(20 / 16 * 1rem);
  --fs-24: calc(24 / 16 * 1rem);

  /* Fonts Weight */
  --fw-medium: 500;
  --fw-bold: 800;
}

/* RESET --------------------- */
*,
::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

h1 {
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

span,
button,
p {
  line-height: 1.5;
}

/* BODY --------------------- */
body {
  font-family: "Figtree", Arial, Helvetica, sans-serif;
  background-color: var(--c-yellow);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD --------------------- */
.card {
  max-width: 327px;
  background-color: var(--c-White);
  border: 1px solid var(--c-Gray-950);
  border-radius: 20px;
  padding: 24px;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);

  display: flex;
  flex-direction: column;
  gap: 24px;

  /* Image */
  .card__img {
    object-fit: cover;
    border-radius: 10px;
    height: 200px;
  }

  /* Button, Link & Description */
  .card__text {
    display: flex;
    flex-direction: column;
    gap: 12px;

    /* Button */
    button {
      background-color: var(--c-yellow);
      color: var(--c-Gray-950);
      font-size: var(--fs-12);
      font-weight: var(--fw-bold);
      padding: 4px 12px;
      border: none;
      border-radius: 4px;
      width: fit-content;
      cursor: pointer;

      &:hover {
        background-color: var(--c-yellow-light);
      }
    }

    /* Date */
    span {
      color: var(--c-Gray-950);
      font-size: var(--fs-12);
      font-weight: var(--fw-medium);
    }

    /* Link */
    a {
      color: var(--c-Gray-950);
      font-size: var(--fs-20);
      font-weight: var(--fw-bold);

      &:hover {
        color: var(--c-yellow-light);
      }

      &:focus {
        color: var(--c-yellow-light);
        outline: 1px solid var(--c-yellow);
        outline-offset: 2px;
      }
    }

    /* Description */
    p {
      color: var(--c-Gray-500);
      font-size: var(--fs-14);
    }
  }

  /* Author */
  .card__author {
    display: flex;
    align-items: center;
    gap: 12px;

    p {
      color: var(--c-Gray-950);
      font-size: var(--fs-14);
      font-weight: var(--fw-bold);
    }
  }
}

@media screen and (width >= 400px) {
  .card {
    max-width: 384px;

    .card__text {
      button {
        font-size: var(--fs-14);
      }

      span {
        font-size: var(--fs-14);
      }

      a {
        font-size: var(--fs-24);
      }

      p {
        font-size: var(--fs-16);
      }
    }
  }
}
